.card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.card {
  --swordsWidth: 20px;
  $swordsWidth: var(--swordsWidth);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 100px;
  height: 140px;
  background-color: rgba(200,200,200,.3);
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 0px lightseagreen;
  &__image {
    flex: 1 1 100px;
    display: block;
    width: 100%;
    object-fit: contain;

    &[src*="swords.svg"] {
      position: absolute;
      top: 1rem;
      width: $swordsWidth;
      height: $swordsWidth;
    }
  }
  &__description {
    flex: 1 0 auto;
    padding: 1rem;
    max-width: calc(100% - 100px);
  }
  &--monkey-parrot {
    &[src*="monkey.svg"] {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 60%;
      height: auto;
    }
    &[src*="parrot.svg"] {
      position: absolute;
      top: 50%;
      left: 30%;
      width: 60%;
      height: auto;
    }
  }
  &--double-skull {
    &[src*="skull.svg"] {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 60%;
      height: auto;
    }
    &[src*="skull.svg"]:nth-child(2) {
      top: 50%;
      left: 30%;
    }
  }
  &--ship-2 {
    &[src*="swords.svg"]:nth-child(2) {
      left: calc( ( 50% - $swordsWidth ) / 2 );
    }
    &[src*="swords.svg"]:nth-child(3) {
      left: calc( 50% + (( 50% - $swordsWidth ) / 2 ));
    }
  }
  &--ship-3 {
    &[src*="swords.svg"]:nth-child(2) {
      left: calc( ( 33% - $swordsWidth ) / 2 );
    }
    &[src*="swords.svg"]:nth-child(3) {
      left: calc( 33% + (( 33% - $swordsWidth ) / 2 ));
    }
    &[src*="swords.svg"]:nth-child(4) {
      left: calc( 66% + (( 33% - $swordsWidth ) / 2 ));
    }
  }
  &--ship-4 {
    &[src*="swords.svg"]:nth-child(2) {
      left: calc( ( 25% - $swordsWidth ) / 2 );
    }
    &[src*="swords.svg"]:nth-child(3) {
      left: calc( 25% + (( 25% - $swordsWidth ) / 2 ));
    }
    &[src*="swords.svg"]:nth-child(4) {
      left: calc( 50% + (( 25% - $swordsWidth ) / 2 ));
    }
    &[src*="swords.svg"]:nth-child(5) {
      left: calc( 75% + (( 25% - $swordsWidth ) / 2 ));
    }
  }
}

@media (min-width: 600px) {
  .card_wrapper {
    flex-direction: column;
  }

  .card {
    --swordsWidth: 30px;
    max-width: 200px;
    height: 300px;
  }
}
