.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;

  &.locked {
    background-color: lightgreen;
    &.skull {
      background-color: lightsalmon;
    }
  }
  &.saved {
    background-color: lightyellow;
  }
}
