main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.init-ic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ic__content {
  display: block;
  width: 100%;
  height: 100%;
}

app-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

