<div [class]="{'game-board' : true, 'game-board--off' : !gameOn}">

  <div class="game-board__points">
    <app-points></app-points>
  </div>

  <div *ngIf="gameOn" class="game-board__cards">
    <app-card [showCard]="currentCard"></app-card>
  </div>

  <div *ngIf="gameOn" class="game-board__dice">
    <app-dice *ngFor="let face of dicePool; let diceIndex = index"
              [face]="face"
              [id]="face.id"
              (click)="lockDice( face )">
    </app-dice>
  </div>

  <div *ngIf="gameOn" class="game-board__rounds">
    <p>Round: {{ gameData.round }}</p>
    <p>Player: {{ playersData[gameData.player].name }}</p>
    <div>
      <h3>Locked Dice:</h3>
      <ul>
        <li *ngFor="let d of gameData.lockedDice">{{ d.name }}</li>
      </ul>
    </div>
    <div *ngIf="gameData.card.name=='Treasure'">
      <h3>Saved Dice:</h3>
      <ul>
        <li *ngFor="let d of gameData.savedDice">{{ d.name }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="gameOn && winner < 0" class="game-board__actions">
    <button *ngIf="gameData.round < 1" class="ic_button" (click)="firstRoll()">
      <span class="info">Start</span>
    </button>

    <button *ngIf="gameData.player !== gameData.lastPlayer" class="ic_button" (click)="nextPlayerRoll()">
      <span class="info">Next Player Roll</span>
    </button>

    <button *ngIf="playerCanRoll()" class="ic_button" (click)="playerRoll()">
      <span *ngIf="gameData.skullIsland; else elseBlock">
        Roll for Skull Island
      </span>
      <ng-template #elseBlock>
        <span>Roll</span>
      </ng-template>

    </button>

    <button *ngIf="! gameData.skullIsland && playerCanSettleDown()" class="ic_button" (click)="settleDown()">
      <span *ngIf="gameData.roundOver; else elseBlock" class="danger">
        Too much Skulls! Round over!
      </span>
      <ng-template #elseBlock>
        <span class="warning">Settle down</span>
      </ng-template>
    </button>
    <button *ngIf="gameData.skullIsland && gameData.roundOver" class="ic_button" (click)="settleDown()">
      <span class="danger">You're leaving Skull Island!</span>
    </button>
  </div>

  <div *ngIf="isLastRound()" class="game-board__results">
    <h2>This is the EndGame</h2>
    <p>Turns Countdown: {{ countDownTurns() }}</p>
    <div *ngIf="winner > -1">
      <h2>The winner is... {{ playersData[winner].name }}</h2>
      <hr>
      <button class="ic_button" (click)="restart()">
        <span class="info">Another game?</span>
      </button>
    </div>
  </div>

</div>

