<div [class]="{'game-board' : true, 'game-board--off' : !gameOn}">

  <div class="game-board__points">
    <app-points></app-points>
  </div>

  <div *ngIf="gameOn" class="game-board__cards">
    <app-card [showCard]="currentCard"></app-card>
  </div>

  <div *ngIf="gameOn" class="game-board__dice">
    <app-dice *ngFor="let face of dicePool" [face]="face"></app-dice>
  </div>

  <div *ngIf="gameOn" class="game-board__rounds">
    <p>Round: {{ gameData.round }}</p>
    <p>Player: {{ gameData.player }}</p>
    <p>Last Player: {{ gameData.lastPlayer }}</p>
  </div>

  <div *ngIf="gameOn" class="game-board__actions">
    {{ gameData | json }}
    <button *ngIf="gameData.round < 1" class="ic_button" (click)="firstRoll()">Start</button>

    <button *ngIf="gameData.player !== gameData.lastPlayer" class="ic_button" (click)="nextPlayerRoll(gameData.player, gameData.player)">Next Player Roll</button>
    <button *ngIf="gameData.round > 0 && gameData.player === gameData.lastPlayer" class="ic_button" (click)="roll(gameData.player, gameData.lastPlayer)">Roll</button>

    <button *ngIf="gameData.round > 0" class="ic_button" (click)="settleDown()">Settle down</button>
  </div>
</div>
