/* You can add global styles to this file, and also import other style files */
*,
:before,
:after {
    margin: 0;
    box-sizing: border-box;
}

.ic_button {
  display: block;
  width: 300px;
  height: 120px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  & > span {
    display: block;
    padding: 2rem;
    font-size: 1.2rem;
    white-space: nowrap;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: .5rem;

    &.info {
      background-color: lightskyblue;
    }
    &.warning {
      background-color: lightsalmon;
    }
    &.danger {
      background-color: lightcoral;
    }
  }
}
